# build
obj/
bin/
out/
tempbuild/
publish/

# ide
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

# config
config.json

# log
logs/
*.log

# tmp
tmp/
temp/
*.tmp
*.bak

# os
Thumbs.db
.DS_Store
