{
    "game_install_dir": "YOUR_GAME_INSTALL_DIR",
    "options": {
        "autoteleport": true,
        "autopickup": true,
        "autoskip": true,
        "autodismiss": true,
        "autoclick": true
    }
}